.App {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 100px 0.2fr 0.1fr 0.2fr auto 0.2fr 100px;
  height: 100vh;
  overflow: hidden;
}

header {
  grid-column-start: 2;
  place-self: center;
  /* which is the same as: */
  /* align-self: center;
  justify-self: center; */
}

main {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: span 5;
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

Label {
  grid-row-start: 2;
  grid-column-start: 1;
}

::webkit-scrollbar { 
  display: none; 
}